html {
    font-family: Arial;
    font-size: 15px;
}

body {
    display: block;
}

.boxHaut {
    //background-color: lightblue;
    //display: inline-block;
    float: left;
}

.boxMilieu {
    //background-color: lightgreen;
    //display: inline-block;
    padding-top: 10px;
    float: left;
}

.boxBas {
    //background-color: lightgreen;
    //display: inline-block;
    padding-top: 10px;
    padding-bottom: 4px;
    float: left;
}

table td {
    width: 219px;
    height: 36px;
}

legend {
    color:#36AAE7;
    font-weight:bold
}

fieldset {
    //height: 120px;
    font-family: Arial;
    padding-bottom: 12px;
    border:1px solid #DF3F3F;
    border-color: #36AAE7;
}

input, textarea, select, option {
    background-color:#F5FAFE;
}

input[type="text"], input[type="submit"], input[type="reset"], input[type="password"], input[type="tel"], input[type="email"], input[type="number"], select {
    overflow: hidden;
    padding: 0 0 0 8px;
    height: 25px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #fff;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
    background: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background: -moz-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background: -o-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background: linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background-clip: padding-box;
    box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #444;
    text-decoration: none;
    white-space: nowrap;
    width:217px;
    height: 25px;
}

textarea {
    resize: none;
    width: 450px;
    height: 80px;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-top: 4px;
    margin-bottom: 5px;
    margin-left: 3px;
}

input[type="file"] {
    overflow: hidden;
    padding: 0 0 0 8px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #fff;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
    background: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background: -moz-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background: -o-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background: linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
    background-clip: padding-box;
    box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #444;
    text-decoration: none;
    text-align: right;
    white-space: nowrap;
    resize: none;
    width: 450px;
    height: 39px;
    padding-top: 8px;
    margin-top: 4px;
    margin-bottom: 5px;
    margin-right: 2px;
    margin-left: 3px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.boutons {
    //background-color: orange;
    display: inline-block;
    float: bottom;
    vertical-align: bottom;
    margin-top: 10px;
    padding-left: 2px;
}

input[type="submit"] {
    width: 100px;
}

input[type="reset"] {
    width: 100px;
}

/* Image retour dans le ribbon */
.img_liste {
    float: right;
    padding-top: 8px;
    padding-right: 10px;
    position: relative;
    z-index: 1;
}

.contenu{
    position: absolute;
    padding-left: 232px;
}

.label {
    width: 195px;
}

.images {
    width: 33px;
}

label {
    display: block;
    float: left;
    width: 150px;
}
#exit{
    float: right;
}