html {
    font-family: Arial;
    font-size: 15px;
}

body {
    display: block;
}

.boxGauche {
    //background-color: lightblue;
    display: inline-block;
    float: left;
}

.boxDroite {
    //background-color: lightgreen;
    display: inline-block;
    float: left;
}

.boutons {
    //background-color: orange;
    display: inline-block;
    float: bottom;
    vertical-align: bottom;
}

input[type="text"] {
    width: 218px;
}

select {
    width: 218px;
}
table td {
    width: 218px;
}

fieldset {
    height: 125px;
    width: 450px;
    font-family: Arial;
}

textarea {
   resize: none;
}