html {
    font-family: Arial;
    font-size: 15px;
}

body {
    display: block;
}

/* ribbon style */

 .ribbon-wrapper {
	position: relative;
        float: left;
        margin-top: 10px;
        margin-left: -20px;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: bold;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
        vertical-align: middle;

}
  .ribbon-front {
	background-color: #36AAE7;	
        height: 46px;
	width: 560px;
	position: relative;
	left:0px;
	z-index: 2;
        color: white;
        font-size: 20px;
        font-weight: bold;
        vertical-align: middle;
        //padding-top: 15px;
}

/*  Ombres du ruban
  .ribbon-front,
  .ribbon-back-left,
  .ribbon-back-right
{
    -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    -khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    -o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}
*/

  .ribbon-edge-topleft,
  .ribbon-edge-topright,
  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
    position: absolute;
    z-index: 1;
    border-style:solid;
    height:0px;
    width:0px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright {
    left: 100px;
}

  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
    top: 46px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-bottomleft {
    left: 0px;
    border-color: transparent #1977AE transparent transparent;
}

  .ribbon-edge-topleft {
    top: 0px;
    border-width: 0px 0px 0 0;
}
  .ribbon-edge-bottomleft {
    border-width: 0 0px 0px 0;
}

  .ribbon-edge-topright,
  .ribbon-edge-bottomright {
    left: 535px;
    border-color: transparent transparent transparent #1977AE;
}

  .ribbon-edge-topright {
    top: 0px;
    border-width: 0px 0 0 25px;
}
  .ribbon-edge-bottomright {
    border-width: 0 0 25px 25px;
}

  .ribbon-back-left {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 46px;
    z-index: 0;
}

  .ribbon-back-right {
    position: absolute;
    top: 25px;
    right: -25px;
    width: 50px;
    height: 46px;
    background-color: #36AAE7;	
    z-index: 0;
}

.boxGauche {
    //background-color: lightblue;
    display: inline-block;
    float: left;
}

.boxDroite {
    //background-color: lightgreen;
    display: inline-block;
    float: left;
}

table td {
    width: 219px;
}

legend {
    color:#36AAE7;
    font-weight:bold
}

fieldset {
    height: 120px;
    font-family: Arial;
    padding:10px 20px 20px 20px;
    margin-bottom:10px;
    border:1px solid #DF3F3F;
    border-color: #36AAE7;
}

input, textarea, select, option {
    background-color:#F5FAFE;
}

input, textarea, select {
    border:1px solid #F5FAFE;
    border-radius:3px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
}
 
input, select {
    border:1px solid #F5FAFE;
    border-radius:3px;
    width:217px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
}
 
textarea {
    resize: none;
}

.boutons {
    //background-color: orange;
    display: inline-block;
    float: bottom;
    vertical-align: bottom;
}