html {
    font-family: Arial;
    font-size: 15px;
}

/* Style du tableau */
table.sortable {
    text-align: center;
    border-spacing: 0px;
    border-collapse: collapse;
    position: relative;
    
}

table.sortable thead {
    cursor: default;
}

table.sortable th {
    height: 40px;
    background-color: #FFFFFF;
}

table.sortable tr:nth-child(odd) {
    background-color: #F0F5FF;
}

table.sortable tr:hover {
    background-color: #D1E0FF;
}

table.sortable tr.own:hover {
    cursor: pointer;
}

table.sortable td {
    height: 50px;
}

/* ribbon style */

 .ribbon-wrapper {
	position: relative;
        float: left;
        margin-left: -20px;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: bold;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
        

}
  .ribbon-front {
	background-color: #36AAE7;	
        height: 46px;
	width: 560px;
	//position: relative;
	left:0px;
	z-index: 2;
        color: white;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        line-height:40px
}


/*  Ombres du ruban
  .ribbon-front,
  .ribbon-back-left,
  .ribbon-back-right
{
    -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    -khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    -o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}
*/

  .ribbon-edge-topleft,
  .ribbon-edge-topright,
  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
    position: absolute;
    z-index: 1;
    border-style:solid;
    height:0px;
    width:0px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright {
    left: 100px;
}

  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
    top: 46px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-bottomleft {
    left: 0px;
    border-color: transparent #1977AE transparent transparent;
}

  .ribbon-edge-topleft {
    top: 0px;
    border-width: 0px 0px 0 0;
}
  .ribbon-edge-bottomleft {
    border-width: 0 0px 0px 0;
}

  .ribbon-edge-topright,
  .ribbon-edge-bottomright {
    left: 535px;
    border-color: transparent transparent transparent #1977AE;
}

  .ribbon-edge-topright {
    top: 0px;
    border-width: 0px 0 0 25px;
}
  .ribbon-edge-bottomright {
    border-width: 0 0 25px 25px;
}

  .ribbon-back-left {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 46px;
    z-index: 0;
}

  .ribbon-back-right {
    position: absolute;
    top: 25px;
    right: -25px;
    width: 50px;
    height: 46px;
    background-color: #36AAE7;	
    z-index: 0;
}

/* Position du tableau */
.tableaux{
    float: left;
    position: relative;
    padding-top: 30px;
}
/* Image ajout dans le ribbon */
.img_liste {
float: right;
padding-top: 8px;
padding-right: 10px;
position: relative;
z-index: 1;
}
/* Bouton retour en haut */
.backtotop
{
	bottom: 10px;
	right: 30px;
	position:fixed;
}

#date {
    width: 100px;
}

#client {
    width: 150px;
}

#numero {
    width: 150px;
}

#pour {
    width: 100px;
}

#motif {
    width: 300px;
}

#commentaire {
    width: 150px;
}