html {
    font-family: Arial;
    font-size: 15px;
}

/* Style du tableau */
table.sortable {
    text-align: center;
    border-spacing: 0px;
    border-collapse: collapse;
    position: relative;
    
}

table.sortable thead {
    cursor: default;
}

table.sortable th {
    height: 40px;
    background-color: #FFFFFF;
}

table.sortable tr:nth-child(odd) {
    background-color: #F0F5FF;
}

table.sortable tr:hover {
    background-color: #D1E0FF;
}

table.sortable tr.own:hover {
    cursor: pointer;
}

table.sortable td {
    height: 50px;
}

/* Position du tableau */
.tableaux{
    float: left;
    position: relative;
    padding-top: 30px;
}
/* Image ajout dans le ribbon */
.img_liste {
float: right;
padding-top: 8px;
padding-right: 10px;
position: relative;
z-index: 1;
}
/* Bouton retour en haut */
.backtotop
{
	bottom: 10px;
	right: 30px;
	position:fixed;
}

#date {
    width: 100px;
}

#client {
    width: 150px;
}

#numero {
    width: 150px;
}

#pour {
    width: 100px;
}

#motif {
    width: 300px;
}

#commentaire {
    width: 150px;
}